.sidebar__burger:before, .sidebar__burger span, .sidebar__burger:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  width: 24px;
  border-radius: 3px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  -webkit-transform-origin: 1px;
          transform-origin: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar__burger {
  display: block;
  z-index: 2;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.sidebar__burger:before {
  border: 1.5px solid white;
  background-color: white;
  top: 20%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
}

.sidebar__burger span {
  border: 1.5px solid white;
  background-color: white;
  top: 45%;
  opacity: 1;
  -webkit-transition: none;
  transition: none;
}

.sidebar__burger:after {
  border: 1.5px solid white;
  background-color: white;
  top: 70%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
}

.sidebar__burger_black:before {
  border: 1.5px solid #121212;
  background-color: #121212;
}

.sidebar__burger_black span {
  border: 1.5px solid #121212;
  background-color: #121212;
}

.sidebar__burger_black:after {
  border: 1.5px solid #121212;
  background-color: #121212;
}

.sidebar__burger_active:before {
  border: 1.5px solid white;
  background-color: white;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.sidebar__burger_active span {
  border: 1.5px solid white;
  background-color: white;
  opacity: 0;
}

.sidebar__burger_active:after {
  border: 1.5px solid white;
  background-color: white;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

@media screen and (max-device-width: 1023px), screen and (max-width: 1023px) {
  .sidebar__burger:before, .sidebar__burger span, .sidebar__burger:after {
    width: 32px;
  }
  .sidebar__burger_active::before {
    width: 24px;
  }
  .sidebar__burger_active::after {
    width: 24px;
  }
}
