@import '../../../../../../../components/App/Ñolors';


.location-step {
    .location-step__forms {
        width: 325px;
        text-align: right;

        label {
            display: block;
            margin-bottom: 12px;

            .location-step__input {
                margin-left: 8px;
                border: none;
                border-bottom: 1px solid $gray;
                border-radius: 0;
                width: 224px;

                font: 300 14px 'Roboto', 'Arial', sans-serif;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $black;
                }
            }
        }
    }
    .location-step__select-point {
        margin-top: 44px;

        .location-step__map {
            height: 352px;
            width: 736px;

            > ymaps {
                z-index: -10;
            }
        }
    }
}

@import './medias';