.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links, .sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar__menu .sidebar__opaque, .sidebar .sidebar__menu .sidebar__transparent {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 0;
  min-width: 64px;
  height: 100vh;
  background-color: #151b1f;
}

.sidebar .sidebar__menu {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(21, 27, 31, 0.8);
  font: 500 32px "Roboto", "Arial", sans-serif;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sidebar .sidebar__menu .sidebar__sidebar {
  min-width: 64px;
  background-color: #111518;
}

.sidebar .sidebar__menu .sidebar__sidebar .sidebar__lang-button {
  display: none;
  margin-bottom: 0;
}

.sidebar .sidebar__menu .sidebar__opaque {
  min-width: 550px;
  background-color: #111518;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content {
  padding-left: 64px;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links {
  margin-top: calc(50vh - 100px);
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links li {
  margin-bottom: 15px;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links .sidebar__link {
  text-transform: uppercase;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links .sidebar__link_white {
  color: white;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links .sidebar__link_white:hover {
  color: #0ec261;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links .sidebar__link_white:active {
  color: #0ec261;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links .sidebar__link_white:disabled {
  color: #999999;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__social {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__social li {
  margin-right: 24px;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__social li svg {
  display: block;
}

.sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__social li svg:hover path {
  fill: #0ec261;
}

.sidebar .sidebar__menu_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-device-width: 1439px), screen and (max-width: 1439px) {
  .sidebar .sidebar__menu .sidebar__opaque .sidebar__content {
    padding-left: 32px;
  }
}

@media screen and (max-device-width: 1023px), screen and (max-width: 1023px) {
  .sidebar {
    min-width: 86px;
  }
  .sidebar .sidebar__menu {
    font-size: 28px;
  }
  .sidebar .sidebar__menu .sidebar__transparent {
    display: none;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .sidebar {
    display: block;
    position: absolute;
    padding: 0;
    margin: 16px;
    height: auto;
    min-width: 32px;
    background-color: transparent;
  }
  .sidebar .sidebar__menu .sidebar__sidebar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
  }
  .sidebar .sidebar__menu .sidebar__sidebar .sidebar__lang-button {
    display: block;
  }
  .sidebar .sidebar__menu .sidebar__opaque {
    min-width: 320px;
  }
  .sidebar .sidebar__menu .sidebar__opaque .sidebar__content {
    padding: 0;
    margin-left: -40px;
  }
  .sidebar .sidebar__menu .sidebar__opaque .sidebar__content .sidebar__links {
    margin-top: 80px;
  }
}
