@import "../../App/сolors";

.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__title {
        font: 700 30px "Roboto", "Arial", sans-serif;
        color: $accent;
    }
    .header__city {
        font: 14px "Roboto", "Arial", sans-serif;
        color: $gray;
        position: relative;
        z-index: -1;

        &::before {
            content: url(./img/map.svg);
            position: absolute;
            left: -24px;
            top: -2px;
        }
    }
}

@import './medias';