@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
    .navigation {
        .navigation__arrow {
            display: none;
        }
        ul {
            flex-direction: column;

            li {
                text-align: center;
            }            
        }
    }
}