$accent: #0ec261;
$black: #121212;
$gray: #999999;
$gray-light: #eeeeee;

$button-color-from: #0EC261;
$button-color-to: #039F67;

$slider-1-left: #13493F;
$slider-1-right: #0C7B1B;
$slider-2-left: #132949;
$slider-2-right: #0C7B67;
$slider-3-left: #493013;
$slider-3-right: #7B0C3B;
$slider-4-left: #281349;
$slider-4-right: #720C7B;

