@mixin link($color, $hover-color, $active-color) {
    color: $color;
    &:hover {
        color: $hover-color;
    }
    &:active {
        color: $active-color;
    }
    &:disabled {
        color: $gray;
    }
}