@import "../App/сolors";
@import "./mixins";

%flex-props {
    flex-grow: 1;
    flex-basis: 0;
}

.main-page {
    display: flex;
    align-items: stretch;
    height: 100vh;


    .info {
        display: flex;
        @extend %flex-props;        
    }      
    .slider {
        @extend %flex-props;
    }

    .main-page__link {
        text-decoration: none;
        color: black;
    }    
    .main-page__link_gray-light {
        @include link($gray-light, $accent, $accent);
    }
    .main-page__link_black {
        @include link($black, $accent, $accent);
    }
    .main-page__link_accent {
        @include link($accent, $gray-light, white);
    }
}