@import '../../../components/App/—Åolors';

.order-process-content {
  display: flex;
  justify-content: space-between;
  height: 100%;

  font-weight: 300;
  font-size: 14px;

  .order-process-content__step {
    flex-grow: 1;
    padding: 32px 32px 32px 0;
  }
  .order-process-content__overall {
    border-left: 1px solid $gray-light;
    padding: 32px 0 32px 32px;
  }
}

@import './medias';
