@import '../../../components/App/сolors';

.overall {
  width: 288px;

  &__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__price {
    font-size: 16px;
    font-weight: normal;
  }
  &__price-title {
    font-weight: 500;
  }
}

@import './medias';
