@media screen and (max-device-width: 1439px), screen and (max-width: 1439px) {
    .slider {
        .slider__title {
            font-size: 32px;
        }
        .slider__desc {
            font-size: 22px;
        }
        .slider__arrow {
            width: 32px;
        }
    }
}

@media screen and (max-device-width: 1023px), screen and (max-width: 1023px) {
    .slider {
        display: none;
    }
}