.slider .slider__arrow_left:before, .slider .slider__arrow_left:after, .slider .slider__arrow_right:before, .slider .slider__arrow_right:after {
  content: "";
  display: block;
  width: 12px;
  border: 1px solid #eeeeee;
  border-radius: 1px;
  background-color: #eeeeee;
  position: absolute;
  top: calc(50% - 9px);
}

.slider .slider__arrow_left:before, .slider .slider__arrow_left:after {
  left: calc(50% - 4px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.slider .slider__arrow_right:before, .slider .slider__arrow_right:after {
  right: calc(50% - 4px);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.slider {
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.slider .slider__title {
  font: 500 40px "Roboto", "Arial", sans-serif;
  color: white;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 30vh;
}

.slider .slider__desc {
  font: 300 24px "Roboto", "Arial", sans-serif;
  color: #eeeeee;
  margin: 0;
}

.slider .slider__arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  height: 100%;
  width: 64px;
  cursor: pointer;
}

.slider .slider__arrow:hover {
  background-color: rgba(14, 194, 97, 0.2);
}

.slider .slider__arrow_left {
  left: 0;
}

.slider .slider__arrow_left:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider .slider__arrow_left:after {
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
}

.slider .slider__arrow_right {
  right: 0;
}

.slider .slider__arrow_right:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider .slider__arrow_right:after {
  -webkit-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}

.slider .slider__arrow_disabled:hover {
  background-color: transparent;
}

.slider .slider__dot {
  padding: 4px;
  margin-right: 8px;
  border-radius: 50%;
  background: #eeeeee;
}

.slider .slider__dot_active {
  background: #0ec261;
}

.slider .slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 32px;
}

@media screen and (max-device-width: 1439px), screen and (max-width: 1439px) {
  .slider .slider__title {
    font-size: 32px;
  }
  .slider .slider__desc {
    font-size: 22px;
  }
  .slider .slider__arrow {
    width: 32px;
  }
}

@media screen and (max-device-width: 1023px), screen and (max-width: 1023px) {
  .slider {
    display: none;
  }
}
