@media screen and (max-device-width: 1439px), screen and (max-width: 1439px) {
	.dropdown {
		.dropdown__opaque {
			.dropdown__content {
				padding-left: 32px;
			}
		}
	}
}

@media screen and (max-device-width: 1023px), screen and (max-width: 1023px) {
	.dropdown {
		font-size: 28px;

		.dropdown__transparent {
			display: none;
		}
	}
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
	.dropdown {
		.dropdown__sidebar {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			padding: 16px 0;

			.dropdown__lang-button {
				display: block;
			}
		}
		.dropdown__opaque {
			min-width: 256px;

			.dropdown__content {
				padding: 0;
				margin-left: -44px;

				.dropdown__links {
					margin-top: 80px;
                    font-size: 22px;
				}
			}
		}
	}
}
